body {
  background: #f7f7f7;
}

.text_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 3;
  -moz-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.title {
  padding-left: 20px;
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  color: #6d9aff;
}

.warp {
  margin: 50px auto 0;
  width: 90%;
  height: 500px;
  position: relative;
  display: flex;
}

.warp .item_left {
  width: 45%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  align-content: flex-end;
  overflow: hidden;
}

.warp .item_left .left_tiele {
  margin-bottom: -40px;
  height: 100%;
  width: 100%;
  background: url("../img/cen21.png") no-repeat left bottom;
  background-size: 85%;
}

.warp .item_right {
  width: 55%;
  padding: 0px 20px 0px;
  box-sizing: border-box;
  margin-left: -10%;
}

.warp .item_right .r_item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.warp .item_right .r_item .img_box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 50px;
  left: 0;
}

.warp .item_right .r_item .img_box img {
  width: 100%;
}

.warp .item_right .r_item .r_left {
  z-index: 10;
}

.warp .item_right .r_item .r_left .item_desc {
  padding: 0 0 0 120px;
  color: #333;
  line-height: 50px;
  font-size: 16px;
}

.warp .item_right .r_item .r_left .item_desc span {
  display: inline-block;
  margin-right: 30px;
}

.warp .item_right .r_item .r_left .item_desc span:hover {
  color: #2367e3;
  cursor: pointer;
}

.warp .item_right .r_item .r_right {
  margin-right: -30px;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #6d9aff;
}

.warp .item_right .r_item:nth-child(1) {
  margin-left: -60px;
}

.warp .item_right .r_item:nth-child(2) {
  margin-left: 40px;
}

.warp .item_right .r_item:nth-child(3) {
  margin-left: 60px;
}
