$f7: #f7f7f7
$shadow: 5px 8px 15px 0px rgba(222, 222, 222, 0.5)
$color236: #2367e3
body
  background: $f7
.text_overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.warp
  margin: 10% auto 0
  width: 70%
  height: 500px
  position: relative
  .item_box
    display: flex
    flex-wrap: wrap
    .item_d
      display: flex
      justify-content: space-between
      align-items: center
      width:
      margin-bottom: 20px
      .r_box
        width: 200px
        height: 240px
        background-size: 100%
        text-align: center
        display: flex
        align-items: center
        flex-direction: column
        position: relative
        cursor: pointer
        &:Hover
          .showTips
            display: block
        .img_box
          width: 100%
          height: 100%
          img
            width: 100%
        .item_title
          font-size: 20px
          line-height: 40px
          color: #2645b6
          font-weight: bold
        .showTips
          display: none
          color: #315efb
          width: 100%
          position: absolute
          top: 280px
          left: 0
          background: url('../img/tips.png') no-repeat top center
          background-size: 100%
          min-height: 120px
          padding-top: 50px
          animation: tips 0.5s
          z-index: 99
          box-sizing: border-box
          .desc
            margin-top: -3px
            padding: 0 20px 20px
            border-radius: 0 0 10px 10px
            border: 1px solid #6d9aff
            border-top: none
            min-height: 150px

      .sort
        padding: 0 20px
        img
          width: 40px

    .item_d:last-child
      .sort
        display: none
@keyframes tips
  from
    transform: translateY(10%)
  to
    transform: translateY(0%)
