$f7: #f7f7f7
$shadow: 5px 8px 15px 0px rgba(222, 222, 222, 0.5)
$color236: #2367e3
body
  background: $f7
.text_overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.title
  padding: 0 0 0 20px
  font-size: 36px
  line-height: 50px
.warp
  background: #fff
  margin: 0px auto
  width: 80%
  height: 540px
  position: relative
  .item_1
    left: 0
    top: 0
    background: url('../img/look1.png') no-repeat center
  .item_2
    right: 0
    top: 0
    background: url('../img/look2.png') no-repeat center
  .item_3
    left: 0
    bottom: 0
    background: url('../img/look3.png') no-repeat center
  .item_4
    right: 0
    bottom: 0
    background: url('../img/look4.png') no-repeat center
  .item
    width: 390px
    height: 240px
    position: absolute
    padding: 20px 30px
    box-sizing: border-box
    transition: all .3s ease 0s
    transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -webkit-transform: translate3d(0, 0, 0)
    background-size: 120%
    border-radius: 10px
    z-index: 9
    box-shadow: $shadow
    .item_title
      font-size: 24px
      line-height: 50px
      color: #315efb
      font-weight: bold
    .content
      font-size: 16px
      color: #000
      text-align: left
      line-height: 24px
    &:hover

      cursor: pointer
      transition: all .3s ease 0s
      transform: translate3d(0, -2px, 0)
      -moz-transform: translate3d(0, -2px, 0)
      -webkit-transform: translate3d(0, -2px, 0)
  .img_box
    width: 100%
    height: 100%
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    z-index: 0
    img
      width: 40%
